modules/__pycache__/*.pyc
data/raw hindcasts/.DS_Store
data/raw hindcasts/ecmwf.csv
data/raw hindcasts/ncep.csv
data/raw hindcasts/ukmo.csv
data/raw hindcasts/.ipynb_checkpoints/ecmwf-checkpoint.csv
data/raw hindcasts/.ipynb_checkpoints/ncep-checkpoint.csv
data/raw hindcasts/.ipynb_checkpoints/ukmo-checkpoint.csv