.vscode
Data/Raw Hindcasts as CSV/.DS_Store
Data/Raw Hindcasts as CSV/ecmwf.csv
Data/Raw Hindcasts as CSV/ncep.csv
Data/Raw Hindcasts as CSV/ukmo.csv
Data/Raw Hindcasts as CSV/.ipynb_checkpoints/ecmwf-checkpoint.csv
Data/Raw Hindcasts as CSV/.ipynb_checkpoints/ncep-checkpoint.csv
Data/Raw Hindcasts as CSV/.ipynb_checkpoints/ukmo-checkpoint.csv